@model List<Domain.CoreModels.User>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <p>ContextID:@ViewBag.ContextID</p>
    <p>UserID:@Model[0].UserID</p>
    <p>UserName:@Model[0].UserAccount</p>
    <p>UserPassword:@Model[0].UserPassword</p>
</div>